{% extends "base.html.j2" %}
{% block head %}
  <meta property="og:image" content="https://justnoalex.com/{{ img_src }}">
  <meta property="og:image:alt" content="{{ emote_name }}">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="alex">
    {% if img_href is defined %}
      <a href="{{ img_href }}">
        <img src="{{ img_src }}" alt="{{ emote_name }}">
      </a>
    {% else %}
      <div>
        <img src="{{ img_src }}" alt="{{ emote_name }}">
      </div>
    {% endif %}
    {% if not hide_name %}
      <p>
        <font face="Comic sans MS"><b>{{ emote_name }}</b></font>
      </p>
    {% endif %}
    </div>
  </div>
{% endblock %}
